<a href="https://colab.research.google.com/github/itskeerthana/Internship_Challenge/blob/main/Challenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#Import library
import os
import csv
from pathlib import Path
# Import Dependencies
import pandas as pd
import numpy as np

In [14]:
# Set path to collect data 
from google.colab import files
import io

uploaded = files.upload()

Saving 2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv to 2019 Winter Data Science Intern Challenge Data Set - Sheet1 (1).csv

In [15]:
# Make a reference to the election_data.csv file path
csv_path = data

# Set the name and path for file to output
file_to_output = "data_results.txt"

# Import the data set as a DataFrame
data_df = pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")

data_df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [17]:
# Identify columns
#data_df.columns
# Identify data info
#data_df.info()
# Question 2: What metric would you report for this dataset?

# Reporting metrics: 

# Order Amount (Sum total over the reporting period of March)
# Total Items (Sum total over the reporting period of March)
# To determine Average Order Value (AOV)

# First determine respective sums of both 'order_amount' and 'total_items'
order_amount = data_df['order_amount'].sum()
total_sum = data_df['total_items'].sum()
print(order_amount)
print(total_sum)

15725640
43936

In [18]:
# Then calculate average by dividing the total order amount (oa_sum) by the total items amount (ti_sum)
AOV = order_amount/total_sum
AOV

357.92152221412965

In [19]:
# Print Average Order Value (AOV) with only 2 decimal places and the dollar sign
print("%.2f" % AOV)

357.92

In [20]:
# Incorrect calculation explained as a mistaken count() instead of sum() function
order_amount = data_df['order_amount'].sum()
total_sum = data_df['total_items'].count()
AOV = oa_sum/ti_count
print(AOV)

3145.128